* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{

    padding-left: 3%;
    padding-right: 0;
    margin-right: 0;
    padding-top:20px;
    padding-bottom:20px;
}

.large-container{
   
    padding-left: 7%;
     padding-right: 0;
    margin-right: 0;
    padding-top:20px;
    padding-bottom:20px;
   
}

.profile-container{

    padding-left: 15%;
   
}

.large-profile-container{

     padding-left: 7%;

}

.highlight{
    cursor:pointer;
}

.highlight:hover{
    background-color: rgb(230, 227, 227);
    border-radius:10px;
}


@media screen and (min-width:50px) and (max-width: 900px) {
.sidebar{
    display:none;
}

.sidebar-small{
    display:none;
}

.hamburgermenu{
    display:none;
}

.container, .large-container{
    padding-left:5%;
    padding-right:5%;
}
}

