* {
  box-sizing: border-box;
}

.hamburgermenu{

margin-left :21px;
width:30px;
pointer-events: all;

}

.hamburgermenu:hover{
    cursor: pointer;
    background-color: rgb(230, 227, 227);
    border-radius:20px;
}

.home{
    margin-left :21px;
    width:33px;
}

.shorts{
    margin-left :21px;
    width:35px;
}

.subscriptions{
    margin-left :21px;
    width:32px;
}

.history{
    margin-left :21px;
    width:32px;
}

.playlists{
    margin-left :21px;
    width:32px;
}

.yourvideos{
    margin-left :21px;
    width:32px;
}


.watchlater{
    margin-left :21px;
    width:32px;
}

.likedvideos{
    margin-left :21px;
    width:32px;
}
.sidebar-items{
    font-size: 10px;
}

.container-videocard{
   display:flex;
   flex-wrap: wrap; 
   margin:0;
   padding:0;
   
}

.thumbnaildetails{
  
    flex:1;
}

.cardtitle{
   flex:1;
}

.thumbnail{
    width: 450px; 
    height: 225px;
    border-radius: 5px;
}

.channel{
    width: 40px;
}

.p-mb{
    margin-bottom: 7px;
} 

.highlight{
    cursor:pointer;
}

.highlight:hover{
    background-color: rgb(230, 227, 227);
    border-radius:10px;
}



/* Grid container styles */

.container-body{
    display:grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 80px repeat(11, [col-start] 1fr);
    grid-template-rows: repeat(12, [row-start] 1fr);
     height: 99vh;
    height: 99dvh;
    width: 99vw;
    width:99dvw;  
 }

.header{
    grid-column: col-start 1/ span 11;
    grid-row: row-start 1/span 0;
       
}

.hamburger{
    grid-column: col-start 1/ span 0;
    grid-row: row-start 1/span 0;  
    
}
.sidebar{
    grid-column: col-start 1/ span 0;
    grid-row: row-start 2/span 12;   
   
}

.videocard{
    grid-column: col-start 1/ span 11;
     grid-row: row-start 2/span 11;   
     
}

@media screen and (max-width: 600px) {

.container-body{
    display:grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: repeat(12, [row-start] 1fr);    
    height: 99vh;
    height: 99dvh;
    width: 99vw;
    width:99dvw;  
    min-width: 50%;
    
}

.sidebar{
    display:none;
}

.search-bar{
    display:none;
}


.header{
    grid-column: col-start 2/ span 11;
    grid-row: row-start 1/span 0;
       
}
.videocard{
    grid-column: col-start/ span 12;
     grid-row: row-start 2/span 11;   
     
}

}
