
.sidebar-width{
    width: 5%;
}

.videocard-section-width{
    width: 95%;
}

.w-30{
    width: 600px;
}

.header-height{
    height: 125px;
   
}

.sidebar-items{
    font-size: 10px;
}

.thumbnail{
    width: 450px;
    height: 225px;
    border-radius: 5px;
}

.channel{
    width: 40px;
}

.p-mb{
    margin-bottom: 7px;
} 

.highlight{
    cursor:pointer;
}

.highlight:hover{
    background-color: rgb(198, 194, 194);
    border-radius:10px;
}
