
.modalvoicecard{
    width: 600px;
    height:450px;
    background-color: white;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.modalvoicecontainer{
    position:fixed;
    inset:0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.close{
    text-align:end;
    margin-right: 25px;
}

.modalvoicecard h5{
    font-size: 24px;
    margin-left: 40px;
    margin-top:10px;
}

.modalvoicecard p{
    font-size: 14px;
    margin-left: 40px;
    margin-top:20px;
    color:grey;
}

.modalvoicecard img{
    width:60px;
    border-radius: 50%;
    padding:5px;
    margin-left: 280px;
    margin-top:160px;
    background-Color: rgb(214, 212, 212) ;
}