.dpStyle{

        border-radius: 50%;
        margin-left :60px;
        margin-top: 50px;
    }

.profileStyle {
        width: 400px;
        margin-left :25px;
        margin-top: 50px;
    }

.customise{
    width:160px;
    height:40px;
    background-Color: rgb(241,238,238) ;
    padding-top:5px;
    margin-top:10px;
    text-align: center;
    border-radius: 25px;
    cursor:pointer;
    font-weight:500;
    display:inline-block;
}

.manage{

    width:140px;
    height:40px;
    margin-left: 20px;
    background-Color: rgb(241,238,238) ;
    padding-top:5px;
    text-align: center;
    border-radius: 25px;
    cursor:pointer;
    font-weight:500;
    display:inline-block;
}

.more{
    font-weight:bold;
    cursor:pointer;
}

.modalcard{
    width: 450px;
    height:400px;
    border-radius:5%;
    background-color: white;
    
}

.modalcontainer{
    position:fixed;
    inset:0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.name{
   margin-left: 20px;
   margin-top: 20px;
   margin-bottom:30px;
   font-weight: bolder;
}

.close{
    margin-left: 315px;
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.info{
    
    font-size: large;
    font-weight: bold;
}

.video{
    width:40px;
    margin-top:1px;
    margin-left: 15px;
}
.share{
    width:35px;
    height:35px;
    margin-top:3px;
    margin-left: 15px;
    font-size: medium;
    font-weight: bold;
}

.sharechannel{
    width : 170px;
    height:40px;
    text-align: center;
    border-radius: 25px;
    margin-left: 15px;
    background-Color: rgb(241,238,238) ;
    cursor:pointer;
}