.dpStyle{
        width:160px;
        height:160px;
        border-radius: 50%;
        margin-left :20px;
        margin-top: 50px;
    }

.profileStyle {
        width: 400px;
        margin-left :25px;
        margin-top: 50px;
    }

.customise{
    width:160px;
    height:40px;
    background-Color: rgb(241,238,238) ;
    padding-top:5px;
    margin-top:10px;
    margin-right: 20px;
    text-align: center;
    border-radius: 25px;
    cursor:pointer;
    font-weight:500;
    display:inline-block;
}

.manage{

    width:140px;
    height:40px;
    background-Color: rgb(241,238,238) ;
    padding-top:5px;
    text-align: center;
    border-radius: 25px;
    cursor:pointer;
    font-weight:500;
    display:inline-block;
}

.profile-container{

    padding-left: 21%;
   
}

.large-profile-container{

     padding-left: 7%;

}


@media screen and (min-width:50px) and (max-width: 900px) {

.buttons{
    display:flex;
    flex-direction: column;
}
}