
.container-videocard{
   display:grid;
   grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
   grid-row-gap: 30px;
   grid-column-gap: 16px;
   margin-top:15px;
     
}

.thumbnaildetails{
  
    flex:1;
}

.cardtitle{
    max-width:350px;
   flex:1;
   justify-content: space-between;
}

.thumbnail{
    width: 450px; 
    min-width: 300px;
    height: 225px;
    border-radius: 5px;
   
}

.channel{
    width: 40px;
}

.p-mb{
    margin-bottom: 7px;
} 

.wrapper {
    position: relative; 
    margin: 20px auto;
    max-width: 100%;
}

.pagination-container{
  overflow-x: hidden;
  padding: 0 40px;
}

.pagination {
  display: flex;
  list-style: none; 
  margin-top: 18px;
  margin:0;
  padding:0;
  white-space: nowrap;
}

.item {
     flex-shrink: 0;
    font-size: 16px;
    font-weight:500;
    padding: 5px 15px 5px 15px;
    margin-right: 15px;
    border-radius:12px;
    background-color: rgb(241, 238, 238);
    cursor: pointer;
}  

.selected-item {
     flex-shrink: 0;
   font-size: 16px;
    font-weight:500;
    padding: 5px 15px 5px 15px;
    margin-right: 15px;
    border-radius:12px;
    background-color: black;
    color:white;
    cursor: pointer;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    transition: opacity 0.3s;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

.scroll-button.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

/*
@media screen and (min-width:50px) and (max-width: 900px) {

    .pagination{
    display:none;
}


}
*/